*{
	margin: 0px;

}
#ul1{

	background-color: #144429;
	height: 37px;
	width: 470px;
	margin: 20px auto;
	padding-top: 20px;
	font-style: inherit;
	font-weight: bold;
	border-radius: 5px;


}


.lia{
	display: inline;
	margin-right: 25px;
	margin-left: 30px;
	border-radius: 5px;
}


.aa{
	margin-left:-10px;
	color:white;
	text-decoration: none;
	padding: 20px;
	font-style: inherit;
	font-weight: bold;
	border-radius: 5px;
}

.aa:hover{
	background-color: black;
	font-style: inherit;
	font-weight: bold;
	border-radius: 5px;
}

h1{
	margin-bottom: 100px;
	padding: 5px;
	background-color: #4072C9;
	color: black;
	text-align: center;
	font-family: fantasy;
	text-transform: uppercase;
	
	-webkit-box-shadow: -9px 43px 66px 4px #4072C9;
-moz-box-shadow: -9px 43px 66px 4px #4072C9;
box-shadow: -9px 43px 66px 4px #4072C9;
}

#p1{
	margin-right: 400px;
	text-align: center;
	font-weight: bold;
	font-family: inherit;
}

#moneda{
margin-top: 50px;
	margin-left: 50px;
}

iframe{
	margin-top: 30px;
	margin-left: 250px;
	margin-bottom: 30px;
}
footer{
	text-align: center;
	background-color: #4072C9;
	font-weight: bold;
	padding: 10px;
	margin-top: 400px;

}
article{
	margin-left: 400px;
}
form{
	margin-right: 300px;
}
